strong {
  font-weight: 700;
  letter-spacing: 0.16875rem;
}

.color-primary {
  color: #ffffff;
}

.color-light-primary {
  color: rgba(255, 255, 255, 0.5042);
}

.color-secondary {
  color: #D0D6F9;
}

.color-tertiary {
  color: #0B0D17;
}

.text-preset-1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 5rem;
}

.text-preset-2 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.text-preset-3 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.text-preset-4 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.text-preset-5 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.1875rem;
}

.text-preset-6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15625rem;
}

.text-preset-7 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
}

.text-preset-8 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.125rem;
}

.text-preset-8-mobile {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
}

.text-preset-8-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.16875rem;
}

.text-preset-9 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9375rem;
  line-height: 180%;
}

@media (min-width: 48rem) {
  .text-preset-1 {
    font-size: 9rem;
  }
  .text-preset-2 {
    font-size: 5rem;
  }
  .text-preset-3 {
    font-size: 2.5rem;
  }
  .text-preset-4 {
    font-size: 1.5rem;
  }
  .text-preset-6 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.75rem;
  }
  .text-preset-8 {
    font-size: 1rem;
    letter-spacing: 0.125rem;
  }
  .text-preset-9 {
    font-size: 1rem;
  }
}
@media (min-width: 90rem) {
  .text-preset-2 {
    font-size: 6rem;
  }
  .text-preset-3 {
    font-size: 3.5rem;
  }
  .text-preset-4 {
    font-size: 2rem;
  }
  .text-preset-5 {
    font-size: 1.75rem;
  }
  .text-preset-9 {
    font-size: 1.125rem;
  }
}
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  background: url("../assets/home/background-home-mobile.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav-line,
.nav-list-container-lg-screen {
  display: none;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.nav-container .logo-container {
  padding-left: 1.5rem;
  align-items: center;
}
.nav-container .hamburger-icon {
  padding-right: 1.5rem;
  z-index: 10;
  background: none;
  border: none;
}
.nav-container .hamburger-menu-container {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  position: fixed;
  right: -70%;
  top: 0;
  width: 70%;
  height: 100vh;
  padding-top: 9.25rem;
  padding-left: 2rem;
  transition: right 0.3s ease-in-out;
}
.nav-container .hamburger-menu-container.open {
  right: 0;
}
.nav-container .hamburger-menu-container .hamburger-nav-list-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  text-align: left;
}
.nav-container .hamburger-menu-container .nav-item {
  width: 100%;
}
.nav-container .hamburger-menu-container .active-nav-item {
  border-right: solid 3px #ffffff;
}

.hero-container,
.hero-text-wrapper,
.btn-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container {
  flex: 1;
  padding: 1.5rem;
  gap: 0.5rem;
  height: 100%;
}

.hero-text-wrapper,
.btn-wrapper {
  flex: 1;
}

.hero-text-wrapper {
  gap: 1.5rem;
}

.main-btn {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: none;
}

.main-container,
.content-container,
.destination-info-container {
  flex-direction: column;
}

@media (min-width: 48rem) {
  .nav-container {
    padding: 0;
  }
  .nav-container .logo-container {
    padding: 0 2.5rem;
  }
  .nav-container .hamburger-icon,
  .nav-container .hamburger-menu-container {
    display: none;
  }
  .nav-container .nav-list-container-lg-screen {
    display: flex;
    justify-content: flex-end;
    min-width: 30.5rem;
    padding: 0 2.5rem;
    align-items: center;
    gap: 3rem;
    height: 6rem;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
  }
  .nav-container .nav-list-container-lg-screen .nav-item {
    min-width: fit-content;
  }
  body {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}
@media (min-width: 90rem) {
  .nav-container {
    padding-top: 2.5rem;
  }
  .nav-container .logo-container {
    padding-left: 4rem;
    gap: 4rem;
  }
  .nav-container .nav-line {
    display: inline-block;
    height: 1px;
    width: 41rem;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
  }
  .nav-container .nav-list-container-lg-screen {
    min-width: 41.5rem;
    margin-left: -8.125rem;
    padding: 0 4rem 0 12.125rem;
    gap: 3rem;
  }
  body {
    background-image: url("../assets/home/background-home-desktop.jpg");
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
