.text-preset-6, .text-preset-4, .text-preset-3, .text-preset-2, .text-preset-1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.text-preset-9 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-preset-8, .text-preset-7, .text-preset-5 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.text-preset-1 {
  font-size: 9rem;
}

.text-preset-2 {
  font-size: 6rem;
}

.text-preset-3 {
  font-size: 3.5rem;
}

.text-preset-4 {
  font-size: 2rem;
}

.text-preset-5 {
  font-size: 1.75rem;
  letter-spacing: 4px;
}

.text-preset-6 {
  font-size: 1.75rem;
}

.text-preset-7 {
  font-size: 0.875rem;
  letter-spacing: 2px;
}

.text-preset-8 {
  font-size: 1rem;
  letter-spacing: 2px;
}

.text-preset-9 {
  font-size: 1.125rem;
  line-height: 180%;
}

strong {
  font-weight: 700;
  letter-spacing: 2.7px;
}

.color-primary {
  color: #ffffff;
}

.color-light-primary {
  color: rgba(255, 255, 255, 0.5042);
}

.color-secondary {
  color: #D0D6F9;
}

.color-tertiary {
  color: #0B0D17;
}

.flex {
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-line {
  display: none;
}

.nav-list-container-lg-screen {
  display: none;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.nav-container .logo-container {
  padding-left: 1.5rem;
  align-items: center;
}
.nav-container .hamburger-icon {
  padding-right: 1.5rem;
}
.nav-container .hamburger-menu-contianer {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100vh;
  display: none;
  flex-direction: column;
  gap: 3rem;
  padding-left: 2rem;
}
.nav-container .hamburger-menu-contianer .close-hamburger-icon {
  align-self: flex-end;
  padding: 2rem 1.5rem 2rem 0;
}
.nav-container .hamburger-menu-contianer .hamburger-nav-list-contianer {
  flex-direction: column;
  gap: 2rem;
}

body {
  color: #ffffff;
  background: url("../assets/home/background-home-mobile.jpg") no-repeat;
  background-size: cover;
}

a {
  color: #ffffff;
}

.hero-container, .hero-text-wrapper {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 48rem) {
  .nav-container {
    padding-top: 2.5rem 0;
  }
  .nav-container .logo-container {
    padding-left: 4rem;
  }
  .nav-container .hamburger-icon {
    display: none;
  }
  .nav-container .nav-list-container-lg-screen {
    display: inline-flex;
    justify-content: flex-end;
    min-width: 41.5rem;
    align-items: center;
    gap: 3rem;
    padding: 0 4rem 0 15rem;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
  }
  .nav-container .nav-list-container-lg-screen .nav-item {
    min-width: fit-content;
  }
  body {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}
@media (min-width: 90rem) {
  .nav-list-container-lg-screen {
    /* Negative margin to extend the background to the left */
    margin-left: -11rem;
  }
  .nav-line {
    display: inline-block;
    height: 1px;
    width: 41rem;
    margin-left: 4rem;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
  }
  body {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}

/*# sourceMappingURL=style.css.map */
