// Fonts
%font-serif {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

%font-sans-serif {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%font-sans-serif-condensed {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

// Text Presets
.text-preset-1 {
    @extend %font-serif;
    font-size: px-to-rem(144);
}

.text-preset-2 {
    @extend %font-serif;
    font-size: px-to-rem(96);
}

.text-preset-3 {
    @extend %font-serif;
    font-size: px-to-rem(56);
}

.text-preset-4 {
    @extend %font-serif;
    font-size: px-to-rem(32);
}

.text-preset-5 {
    @extend %font-sans-serif-condensed;
    font-size: px-to-rem(28);
    letter-spacing: 4px;
}

.text-preset-6 {
    @extend %font-serif;
    font-size: px-to-rem(28);
}

.text-preset-7 {
    @extend %font-sans-serif-condensed;
    font-size: px-to-rem(14);
    letter-spacing: 2px;
}

.text-preset-8 {
    @extend %font-sans-serif-condensed;
    font-size: px-to-rem(16);
    letter-spacing: 2px;
}

.text-preset-9 {
    @extend %font-sans-serif;
    font-size: px-to-rem(18);
    line-height: 180%;
}

strong {
    font-weight: 700;
    letter-spacing: 2.7px;
}

// Text Color
.color-primary {
    color: $primary-color;
}

.color-light-primary {
    color: rgba($primary-color, 0.5042);
}

.color-secondary {
    color: $secondary-color;
}

.color-tertiary {
    color: $tertiary-color;
}