@import 'config';
@import 'typography';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $primary-color;
    background-color: $tertiary-color; // Default bg color in case bg img doesn't load
    text-align: center;
}

// Background img for different pages on mobile screen
.home-bg {
    background: url('../assets/home/background-home-mobile.jpg') no-repeat;
}

.destination-bg {
    background: url('../assets/destination/background-destination-mobile.jpg') no-repeat;
}

.crew-bg {
    background: url('../assets/crew/background-crew-mobile.jpg') no-repeat;
}

.technology-bg {
    background: url('../assets/technology/background-technology-mobile.jpg') no-repeat;
}

.home-bg,
.destination-bg,
.crew-bg,
.technology-bg {
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: $primary-color;
    text-decoration: none;
}

// NAV BAR
.nav-line,
.nav-list-container-lg-screen {
    display: none;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    padding: px-to-rem(24) 0;

    .logo-container {
        padding-left: px-to-rem(24);
        align-items: center;
    }

    .hamburger-icon {
        padding-right: px-to-rem(24);
        z-index: 10;
        background: none;
        border: none;
    }

    .hamburger-menu-container {
        @include bg-blur;
        position: fixed;
        right: -70%; // Hide the hamburger menu items by default
        top: 0;
        width: 70%;
        height: 100vh;
        padding-top: px-to-rem(148);
        padding-left: px-to-rem(32);
        transition: right 0.3s ease-in-out; // Sliding transition for the hamburger menu

        &.open {
            right: 0;
        }

        .hamburger-nav-list-container {
            flex-direction: column;
            align-items: flex-start;
            gap: px-to-rem(32);
            width: 100%;     
            text-align: left;       
        }

        .nav-item {
            width: 100%;
        }

        .active-nav-item {
            border-right: solid 3px $primary-color;
        }
    }
}

// HOMEPAGE
.main-container {
    flex: 1;
    padding: px-to-rem(24);
    height: 100%;
}

.hero-text-wrapper,
.btn-wrapper {
    flex: 1;
}

.hero-text-wrapper {
    gap: px-to-rem(24);
}


.main-btn {
    width: px-to-rem(144);
    height: px-to-rem(144);
    border-radius: 50%;
    border: none;
}

// DESTINATION PAGE
.main-container-wgap,
.content-container,
.info-container,
.stats-container {
    gap: px-to-rem(24);
}

.content-container,
.destination-info-container,
.text-container,
.stats-container {
    flex: 1;
}

.stats-container{
    justify-content: flex-start;
}

.destination-img {
    padding: px-to-rem(24);

    img {
        width: px-to-rem(150);
        height: px-to-rem(150);
    }
}

.destination-main-container .text-container .line {
    height: 1px;
    width: 100%;
    background-color: $primary-color-light;
    margin-top: px-to-rem(24);

}

.distance-stats,
.travel-time-container {
    gap: px-to-rem(12);
}

.destination-main-container .tab-container {
    gap: px-to-rem(32);
    height: px-to-rem(32);

    .active-tab {
        border-bottom: 3px solid $primary-color;
    }
}

// Crew Page
.crew-main-container {
    .content-container {
        justify-content: start;
        gap: px-to-rem(56);
    }

    .info-container {
        padding-top: px-to-rem(40);
        gap: px-to-rem(56);
    }

    .text-container {
        gap: px-to-rem(24);

        .role-name-container {
            gap: px-to-rem(12);
        }
    }

    .tab-container {
        gap: px-to-rem(16);

        .dot-tab {
            background-color: $primary-color-extra-light;
            width: px-to-rem(10);
            height: px-to-rem(10);
            border-radius: 50%;
        }

        .active-tab {
            .dot-tab {
                background-color: $primary-color;
            }
        }
    }

    .crew-img img {
        width: 70%;
        height: auto;
        // Apply gradient to crew img
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    }
}

// @media (max-height: px-to-rem(668)) {
//     .wrapper {
//         height: 100%;
//     }    
// }

// *** MEDIUM SCREEN ***
@media (min-width: px-to-rem(768)) {
    // NAV BAR
    .nav-container {
        padding: 0;
        // gap: px-to-rem(32);
    
        .logo-container {
            padding: 0 px-to-rem(40);
        }

        .hamburger-icon,
        .hamburger-menu-container {
            display: none;
        }
    
        .nav-list-container-lg-screen {
            display: flex;
            justify-content: flex-end;
            min-width: px-to-rem(488);
            padding: 0 px-to-rem(40);
            align-items: center;
            gap: px-to-rem(48);
            height: px-to-rem(96);
            flex: 1;
            @include bg-blur;

            .nav-item {
                min-width: fit-content;
            }
        }
    }

    // HOMEPAGE
    body {
        background-image: url('../assets/home/background-home-tablet.jpg');
    }
}


// *** LARGE SCREEN ***
@media (min-width: px-to-rem(1440)) {
    // NAV BAR
    .nav-container {
        padding-top: px-to-rem(40);

        .logo-container {
            padding-left: px-to-rem(64);
            gap: px-to-rem(64);
        }

        .nav-line {
            display: inline-block;
            height: 1px;
            width: px-to-rem(656);
            background-color: rgba($primary-color, 0.25);
            z-index: 1;  // Ensure it's above background if necessary
        }

        .nav-list-container-lg-screen{
            min-width: px-to-rem(664);
            margin-left: calc(px-to-rem(130) * -1); // Negative margin to extend the background to the left
            padding: 0 px-to-rem(64) 0 px-to-rem(194); // Adjust padding to offset negative margin
            gap: px-to-rem(48);
        }
    }

    // HOMEPAGE
    body {
        background-image: url('../assets/home/background-home-desktop.jpg');
        text-align: left;
    }
}