@import 'config';
@import 'typography';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    color: $primary-color;
    background: url('../assets/home/background-home-mobile.jpg') no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: $primary-color;
}

// NAV BAR
.nav-line,
.nav-list-container-lg-screen {
    display: none;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    padding: px-to-rem(24) 0;

    .logo-container {
        padding-left: px-to-rem(24);
        align-items: center;
    }

    .hamburger-icon {
        padding-right: px-to-rem(24);
        z-index: 10;
        background: none;
        border: none;
    }

    .hamburger-menu-container {
        @include bg-blur;
        position: fixed;
        right: -70%; // Hide the hamburger menu items by default
        top: 0;
        width: 70%;
        height: 100vh;
        flex-direction: column;
        padding-top: px-to-rem(148);
        padding-left: px-to-rem(32);
        transition: right 0.3s ease-in-out; // Sliding transition for the hamburger menu

        &.open {
            right: 0;
        }

        .hamburger-nav-list-container {
            flex-direction: column;
            gap: px-to-rem(32);
        }
    }
}

// HOMEPAGE
.hero-container, .hero-text-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container {
    flex: 1;
    padding: px-to-rem(24);
    gap: px-to-rem(8);
    height: 100%;
}

// .hero-text-wrapper, .btn-wrapper {
//     align-self: stretch;
// }




// *** MEDIUM SCREEN ***
@media (min-width: px-to-rem(768)) {
    // NAV BAR
    .nav-container {
        padding-top: px-to-rem(40) 0;
    
        .logo-container {
            padding-left: px-to-rem(64);
        }

        .hamburger-icon {
            display: none;
        }
    
        .nav-list-container-lg-screen {
            display: inline-flex;
            justify-content: flex-end;
            min-width: px-to-rem(664);
            align-items: center;
            gap: px-to-rem(48);
            padding: 0 px-to-rem(64) 0 px-to-rem(240); // Adjust padding to offset negative margin
            height: px-to-rem(96);
            @include bg-blur;

            .nav-item {
                min-width: fit-content;
            }
        }
    }

    // HOMEPAGE
    body {
        background-image: url('../assets/home/background-home-tablet.jpg');
    }
}


// *** LARGE SCREEN ***
@media (min-width: px-to-rem(1440)) {
    // NAV BAR
    .nav-list-container-lg-screen{
        /* Negative margin to extend the background to the left */
        margin-left: calc(px-to-rem(176) * -1);
    }
    .nav-line {
        display: inline-block;
        height: 1px;
        width: px-to-rem(656);
        margin-left: px-to-rem(64);
        background-color: rgba($primary-color, 0.25);
        z-index: 1;  // Ensure it's above background if necessary
    }

    // HOMEPAGE
    body {
        background-image: url('../assets/home/background-home-desktop.jpg');
    }
}